/*
 * File: DemoCSS.css
 * Author: NHorn
 * Date Modified: 5/14/18
 * 
 * Description: Basic CSS file for use in CalculatorFXML.fxml
 */

.root {
	-fx-background-image: url("../img/background.jpg");
}

.text-area .text {
	-fx-text-alignment: right;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-padding: 15;
}